{% extends 'einkaufsliste/base.html' %}

{% block content %}

    <p><h1>Archiv</h1></p>
 
    <hr>
    <br />




    {% for liste in listenQ %}
        <div class="input-group mb-3">
        <a href="{% url 'sicherheitsabfrage_link' liste.id "archievview" %}" class="bi bi-trash" alt="Liste löschen"></a>
        
        <table border="0">
        
        <tr>
            <td>
                <h1><form action="{% url 'rename_liste' %}" method="post">
                    <input type="text" name="name" value="{{ liste.name }}">
                    
                    <input type="hidden" name="lid" value="{{ liste.id }}">
                    <input type="hidden" name="redirectzurview" value="archievview">
                    {% csrf_token %}
                </form></h1>
                
            </td>
        </tr>    
                
        <tr>
            <td>
                <table border="0">
                {% for posten in postenQ %}
            
           

                    {% ifequal liste.id posten.listenid.id %}  

                        <tr><td>
                        {{ posten.name }}
                         &nbsp; 
                        </td><td>
                        <a href="{% url 'delete_eintrag_link' posten.id 'archievview' %}" class="bi bi-trash" ></a>
                        </td></tr>

                    {% endifequal %}      
            
                {% endfor %}
                </table>
            </td>
        </tr>

        <tr>
            <td>    
                <br />
                <a href="{% url 'movelist_link' liste.id 'indexview' %}">Liste reaktivieren</a>
                <br />
            </td>
        </tr>
        </table>
        </div>
        
        <br />
        <br />
        <hr>
        <br />
    {% endfor %}



    <br />
    <br />
    <hr />
    <a href="{% url 'index' %}">Zurück zu den Einkaufslisten</a> <br />

{% endblock %}

