{% extends 'einkaufsliste/base.html' %}

{% block content %}

    <p><h1>Einkaufsliste</h1></p>
    <hr>
    <br />
    {% for liste in listenQ %}
        <div class="input-group mb-3">
        <a href="{% url 'sicherheitsabfrage_link' liste.id 'indexview' %}" class="bi bi-trash" alt="Liste löschen"></a>
        <a href="{% url 'movelist_link' liste.id 'archivview' %}" class="bi bi-archive" alt="Liste ins Archiv verschieben"></a>
        <table border="0">
        
        <tr>
            <td>
                <h1><form action="{% url 'rename_liste' %}" method="post">
                    <input type="text" name="name" value="{{ liste.name }}">
                    
                    <input type="hidden" name="lid" value="{{ liste.id }}">
                    <input type="hidden" name="redirectzurview" value="indexview">
                    {% csrf_token %}
                </form></h1>
                
            </td>
        </tr>    
                
        <tr>
            <td>
                <table border="0">
                {% for posten in liste.posten_set.all %}
            
           

                    

                        <tr><td>
                        <a href="{% url 'item_gekauft' posten.id %}" {% if posten.posten_gekauft %} style="text-decoration: line-through;" {% endif %}> {{ posten.name }} </a>  
                         &nbsp; 
                        </td><td>
                        <a href="{% url 'delete_eintrag_link' posten.id 'indexview' %}" class="bi bi-trash" ></a>
                        </td></tr>

                    
            
                {% endfor %}
                </table>
            </td>
        </tr>

        <tr>
            <td>    
                <form action="{% url 'add_item' %}" method="post">
                    <input type="text" name="name" placeholder="Neuen Posten hinzufügen">
                    <input type="submit" value="+">
                    <input type="hidden" name="lid" value="{{ liste.id }}">
                    {% csrf_token %}
                </form>
            </td>
        </tr>
        </table>
        </div>
        
        <br />
        <br />
        <hr>
        <br />
    {% endfor %}

    <form action="{% url 'neue_liste' %}" method="post">
        <input type="submit" value="Weitere Liste erstellen">
        {% csrf_token %}
    </form> <br />

    <a href="{% url 'archiv' %}">Zum Archiv...</a>


{% endblock %}

