{% extends 'einkaufsliste/base.html' %}

{% block content %}

    <p><h1>Liste wirklich Löschen?</h1></p>
    <hr>
    <br />
    <table border="0">
    <tr>
        <td colspan="2">
            <p>
            Sind Sie sicher, dass Sie die <b>Liste "{{ listenname }}"</b> und alle zugehörigen Posten ({% for posten in postenliste %}{{ posten.name }}, {% endfor %}) <b>löschen</b> wollen?"
            </p>
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <form action="{% url 'listeloeschen' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Löschen" class="btn btn-danger">
                <input type="hidden" name="lid" value="{{ delete_liste_id }}">
                <input type="hidden" name="redirectzurview" value="{{ redirectzurview }}"> 
            </form>
        </td>
        <td>     
            <form action="{% ifequal redirectzurview 'archievview' %}{% url 'archiv' %}{% else %}{% url 'index' %}{% endifequal %}">
                {% csrf_token %}
                <input type="submit" value="Nein!"  class="btn btn-success">
            </form>
        </td>
    </tr>




{% endblock %}

